In [15]:
import pandas as pd
import numpy as np

In [16]:
customer=pd.read_csv("D:\lab\ML\Customer_Segmentation_Bank.csv")

In [17]:
customer.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0,67,male,2,own,NaN,little,1169,6,radio/TV
1,1,22,female,2,own,little,moderate,5951,48,radio/TV
2,2,49,male,1,own,little,NaN,2096,12,education
3,3,45,male,2,free,little,little,7882,42,furniture/equipment
4,4,53,male,2,free,little,little,4870,24,car

In [18]:
from sklearn.preprocessing import LabelEncoder
LabelEncoder=LabelEncoder()

In [19]:
customer['Sex']=LabelEncoder.fit_transform(customer['Sex'])
customer['Housing']=LabelEncoder.fit_transform(customer['Housing'])
customer['Saving accounts']=LabelEncoder.fit_transform(customer['Saving accounts'])
customer['Purpose']=LabelEncoder.fit_transform(customer['Purpose'])
customer['Checking account']=LabelEncoder.fit_transform(customer['Checking account'])

In [20]:
customer.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose
0,0,67,1,2,1,4,0,1169,6,5
1,1,22,0,2,1,0,1,5951,48,5
2,2,49,1,1,1,0,3,2096,12,3
3,3,45,1,2,0,0,0,7882,42,4
4,4,53,1,2,0,0,0,4870,24,1

In [28]:
x=customer.drop(['Unnamed: 0','Purpose'],axis=1)
x

,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration
0,67,1,2,1,4,0,1169,6
1,22,0,2,1,0,1,5951,48
2,49,1,1,1,0,3,2096,12
3,45,1,2,0,0,0,7882,42
4,53,1,2,0,0,0,4870,24
...,...,...,...,...,...,...,...,...
995,31,0,1,1,0,3,1736,12
996,40,1,3,1,0,0,3857,30
997,38,1,2,1,0,3,804,12
998,23,1,2,0,0,0,1845,45
999,27,1,2,1,1,1,4576,45

In [29]:
y=customer['Purpose']
y

0      5
1      5
2      3
3      4
4      1
      ..
995    4
996    1
997    5
998    5
999    1
Name: Purpose, Length: 1000, dtype: int32

In [30]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=0)
x_train.shape

(750, 8)

In [31]:
y_train.shape

(750,)

In [32]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train,y_train)

C:\Users\user\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [33]:
y_predict=lr.predict(x_test)
y_predict

array([5, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 5, 5, 1, 1, 1, 1, 1, 1, 5,
       5, 1, 1, 1, 1, 1, 1, 5, 1, 5, 5, 5, 1, 1, 1, 1, 5, 5, 5, 1, 1, 5,
       1, 5, 5, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1,
       1, 1, 5, 1, 1, 1, 5, 1, 5, 1, 1, 1, 1, 5, 5, 1, 5, 1, 1, 1, 7, 1,
       5, 1, 1, 1, 1, 5, 1, 1, 5, 1, 1, 1, 1, 5, 1, 1, 1, 5, 5, 1, 1, 5,
       1, 5, 5, 1, 5, 1, 5, 5, 1, 5, 5, 5, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1,
       5, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1, 5, 1, 1, 1, 1, 5, 1, 1, 1, 5, 1,
       5, 1, 1, 1, 1, 5, 5, 1, 1, 1, 1, 1, 1, 5, 1, 1, 1, 1, 5, 1, 1, 5,
       5, 5, 1, 5, 1, 5, 1, 5, 5, 1, 5, 1, 1, 1, 1, 1, 1, 1, 1, 5, 1, 1,
       1, 1, 5, 1, 5, 5, 1, 1, 5, 1, 1, 1, 1, 1, 1, 5, 1, 5, 1, 1, 5, 5,
       1, 5, 1, 1, 5, 1, 1, 1, 1, 1, 1, 1, 5, 1, 5, 5, 1, 1, 1, 5, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1])

In [34]:
from sklearn.metrics import accuracy_score
acc_score=accuracy_score(y_predict,y_test)*100
acc_score

37.6